<div class="favorite-cards-container">
    <div class="favorite-card">
        <h1 class="favorite-city">Tel Aviv, Israel</h1>
        <span class="temperature">22C</span>
    </div>
    <div class="favorite-card">
        <h1 class="favorite-city">Tel Aviv, Israel</h1>
        <span class="temperature">22C</span>
    </div>
    <div class="favorite-card">
        <h1 class="favorite-city">Tel Aviv, Israel</h1>
        <span class="temperature">22C</span>
    </div>
    <div class="favorite-card">
        <h1 class="favorite-city">Tel Aviv, Israel</h1>
        <span class="temperature">22C</span>
    </div>
    <div class="favorite-card">
        <h1 class="favorite-city">Tel Aviv, Israel</h1>
        <span class="temperature">22C</span>
    </div>
    <div class="favorite-card">
        <h1 class="favorite-city">Tel Aviv, Israel</h1>
        <span class="temperature">22C</span>
    </div>
</div>