.weather-container {
  transform: translateY(7rem);

  form {
    display: flex;
    margin-bottom: 0.5rem;

    input[type="text"] {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 1.5rem 1rem;
        flex: 1;
        outline: 0;
        color: #000;
        font-size: 1.6rem;
        border-radius: 15px;
        border: none;
        font-weight: 600;

        
        &::placeholder {
            font-size: 1.6rem;
            color: #000;
            font-weight: 600;
      }
    }
  }

  .weather-details-box {
    border-radius: 16px;
    // background: rgba(255, 255, 255, 0.2);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(4px);
    padding: 3rem;


    .location-wrapper {
      padding: 3rem;
      text-align: center;
      height: 180px;

      .inner-location {
        .city {
          display: block;
          font-size: 1.7rem;
          margin-bottom: 1rem;
        }

        .city-temperature {
          font-size: 4.5rem;
        }
      }
    }

      .forecasts-data {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;

        @media(max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem 0;
        }
      }

      .weekly-forecast {
        line-height: 1.5;
        text-align: center;
        padding: 1.5rem;
        background: white;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
    

        .date {
          font-size: 17px;
        }

        .temperature {
          font-size: 25px;
        }
      }
  }
}