* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // easy to calculate rem unit -- 2.1rem = 21px
    min-height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    width: min(850px, 100%);
    margin: auto;
    padding: 0 1.5rem;
    height: 100%;
    background-image: url('../assets/images/clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}